.sectionwrapper {
    /*
    margin: 75px;
    border-radius: 5px;
    padding: 20px;
*/
    margin: 30px;
    border-radius: 5px;
    padding: 10px;
    top: 10px;
}


body {
    margin: 0;
    background: white;
}


/*#forside,*/

#experience_map,
#persona,
#scrum,
#ide_beskrivelse,
#test_af_app,
#de_tre_ideer,
#links {
    margin: 0 auto;
    background-color: lightgray;
    margin: 0 10vw 0 10vw;
}

/*******************HEADER START**********/

header {
    position: absolute;
    width: 100vw;
    padding: 1em;
    /*
    padding: 6em;
    text-align: right;
    width: 100vw;
    height: .5vw;
    background: linear-gradient(to bottom, rgba(44, 122, 203, 0.99) 0%, rgba(0, 0, 0, 0) 90%);
*/
}

header nav a:hover {

    color: #1d7e21;
    text-decoration: underline;

}

header nav a {
    text-decoration: none;
    color: black;
    padding-right: 4px;
}


header nav {
    text-align: center;
    margin: -75px;
}


/*******************HEADER SLUT**********/

#forside {}

.content_top {
    margin: 1em;
    top: 10em;
}


#Scrum h1 {
    color: white;
}

# p {

    color: white;
}


#nytnyt {}

.dropbtn {
    background-color: #4c72af;
    color: white;
    padding: 1px;
    font-size: 26px;
    border: none;
    cursor: pointer;
    z-index: 20;
    width: 140px;
    height: 50px;


}

.dropdown {
    position: relative;
    display: inline-block;
    top: 6vw;
    left: -43vw;
    z-index: 23;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(0, 97, 255, 0.9);
    min-width: 140px;
    box-shadow: 10px 10px 5px #888888;


}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;



}

.dropdown-content a:hover {
    background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #577cc3;
}
